
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <title>Calory Calculator App</title>
</head>

<body>

{% if request.path != '/' and request.path != '/register/' %}
  {% include 'base/nav.html' %}
  
{% endif %}
  

  <div class="container">
    {% comment %} {% if messages %}
    <script>
      {% for message in messages %}
        Swal.fire({
          title: "{{ message.tags|title }}", // Capitalizes the message tag (e.g., Success, Error)
          text: "{{ message }}",
          icon: "{{ message.tags }}", // Maps directly to 'success', 'error', 'info', or 'warning'
          confirmButtonText: 'Ok'});
      {% endfor %}
    </script>
    {% endif %} {% endcomment %}
  
  
  {% block body %}

  
    
  {% endblock body %}
    
</div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% if messages %}
    <script>
      {% for message in messages %}
        Swal.fire({
          title: "{{ message.tags|title }}", // Capitalizes the message tag (e.g., Success, Error)
          text: "{{ message }}",
          icon: "{{ message.tags }}", // Maps directly to 'success', 'error', 'info', or 'warning'
          confirmButtonText: 'Ok'});
      {% endfor %}
    </script>
    {% endif %}
</body>

</html>